body 
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    background-color: purple;
    color: white;
}

section 
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas 
{
    outline: 10px solid yellow;
}
